body {
    text-align: center;
    background-color: #cfd8dc;
}

#displayMoment {
    font-weight: 500;
    font-size: 15px;
}

h1 {
    font-size: 20px;
}

#userInput {
    text-align: center;
}

#todaysWeather, #uvIndex, #forecast {
    margin: 10px;
    padding: 1px; 
}

.daysAhead {
    background-color: #78909c;
    padding: 10px;
}

.instructionsBox {
    font-size: large;
    font-weight: 500;
    padding: 100px;
}

.hide {
    display: none;
}