body {
    text-align: center;
    background-color: #cfd8dc;
}

#displayMoment {
    font-weight: 500;
}

h1 {
    font-size: large;
}

#userInput {
    text-align: center;
}

.hide{
    display: none;
}